@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';
@import '../../node_modules/filepond/dist/filepond.min.css';
@import  '../../node_modules/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css';
@import '../../public/font/GTWalsheimPro.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {


    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
    --font-sans: 'GT Walsheim Pro', sans-serif;

    --animate-border-spin: border-spin 10s linear infinite;
    @keyframes border-spin {
        100% {
            transform: rotate(-360deg)
        }
    }

}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */


/* Trix Editor */
html.dark {
    .trix-button-row {
        .trix-button-group {
            border-color: #2d3748;

            .trix-button {
                background-color: rgb(161 161 170);
                border-color: rgb(82 82 91);

                &.trix-active {
                    background-color: rgb(82 82 91);
                }
            }
        }
    }
    trix-editor {
        color: #e2e8f0;
        border: 1px solid #5a6473;
        border-radius: 0.5rem;
    }
}
/* Menyembunyikan file tools */
.trix-button-group.trix-button-group--file-tools {
    display: none;
}

@layer utilities {
    trix-editor {
        border: 1px solid #5a6473;
        border-radius: 0.5rem;
    }

    trix-editor h1 {
        font-size: 1.25rem !important;
        line-height: 1.25rem !important;
        margin-bottom: 1rem;
        font-weight: 600;
    }

    trix-editor a:not(.no-underline) {
        text-decoration: underline;
    }

    trix-editor a:visited {
        color: green;
    }

    trix-editor ul {
        list-style-type: disc;
        padding-left: 1rem;
    }

    trix-editor ol {
        list-style-type: decimal;
        padding-left: 1rem;
    }

    trix-editor pre {
        display: inline-block;
        width: 100%;
        vertical-align: top;
        font-family: monospace;
        font-size: 1.5em;
        padding: 0.5em;
        white-space: pre;
        background-color: #eee;
        overflow-x: auto;
    }

    trix-editor blockquote {
        border: 0 solid #ccc;
        border-left-width: 0px;
        border-left-width: 0.3em;
        margin-left: 0.3em;
        padding-left: 0.6em;
    }
}

@layer utilities {

    .article h1 {
        font-size: 1.25rem !important;
        line-height: 1.25rem !important;
        margin-bottom: 1rem;
        font-weight: 600;
    }

    .article a:not(.no-underline) {
        text-decoration: underline;
    }

    .article a:visited {
        color: green;
    }

    .article ul {
        list-style-type: disc;
        padding-left: 1rem;
    }

    .article ol {
        list-style-type: decimal;
        padding-left: 1rem;
    }

    .article pre {
        display: inline-block;
        width: 100%;
        vertical-align: top;
        font-family: monospace;
        font-size: 1.5em;
        padding: 0.5em;
        white-space: pre;
        background-color: #eee;
        overflow-x: auto;
    }

    .article blockquote {
        border: 0 solid #ccc;
        border-left-width: 0px;
        border-left-width: 0.3em;
        margin-left: 0.3em;
        padding-left: 0.6em;
    }

    /* Act as a border */
    .card-wrapper {
        @apply relative overflow-hidden rounded-2xl bg-gradient-to-b from-zinc-200 to-zinc-200 dark:from-zinc-800 dark:to-zinc-700;
    }

    /* Gradient */
    .card-wrapper::before {
        background: conic-gradient(
            rgba(0, 0, 0, 0.4) 0deg,
            rgba(0, 0, 0, 0.4) 0deg,
            transparent 80deg
        );

        @apply absolute h-[200%] w-[200%] left-[-50%] top-[-50%] animate-border-spin content-[''];
    }

    .dark .card-wrapper::before {
        background: conic-gradient(
            rgba(255, 255, 255, 0.4) 0deg,
            rgba(255, 255, 255, 0.4) 0deg,
            transparent 80deg
        );

        @apply absolute h-[200%] w-[200%] left-[-50%] top-[-50%] animate-border-spin content-[''];
    }

    /* Body */
    .card-content {
        @apply absolute left-[1px] top-[1px] h-[calc(100%-2px)] w-[calc(100%-2px)] rounded-2xl bg-gradient-to-b from-zinc-50 to-zinc-50 dark:from-zinc-900 dark:to-zinc-900;
    }
}
